@import "compass/css3/box-sizing";

$font-default: Helvetica, sans-serif;
$font-head:    cocogoose;
$font-style1:    "TH K2D July8";
$container-width:    1170px;
$primary-color: #1957a4;
$shadow-1: 0 1px 1px rgba(0,0,0,0.8);

$break-middle: 1170px;
$break-small: 1024px;

div, body, section {
  @include box-sizing(border-box);
}

html, body {
  font-family: $font-default;
  height: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;

  @media (max-width: $break-middle) {
    width: 1024px;
  }
  @media (max-width: $break-small) {
    width: 1024px;
  }
}

.wrap {
  width: 880px;
  margin: 0 auto;
}

.wrap3 {
  width: 706px;
  margin: 0 auto;
}

.wrap4 {
  width: 940px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: 11px;
  line-height: 11px;
  font-family: $font-head;
  cursor: pointer;
  padding: 8px 16px;
  background: $primary-color;
  border-radius: 2px;
  color: white;
  font-weight: normal;
  text-decoration: none;
}

.btn.btn-white {
  color: black;
  background: white;
}

.background-primary {
  background: $primary-color;
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}