/* line 13, ../sass/style.scss */
div, body, section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/style.scss */
html, body {
  font-family: Helvetica, sans-serif;
  height: 100%;
}

/* line 22, ../sass/style.scss */
.container {
  width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  /* line 22, ../sass/style.scss */
  .container {
    width: 1024px;
  }
}
@media (max-width: 1024px) {
  /* line 22, ../sass/style.scss */
  .container {
    width: 1024px;
  }
}

/* line 34, ../sass/style.scss */
.wrap {
  width: 880px;
  margin: 0 auto;
}

/* line 39, ../sass/style.scss */
.wrap3 {
  width: 706px;
  margin: 0 auto;
}

/* line 44, ../sass/style.scss */
.wrap4 {
  width: 940px;
  margin: 0 auto;
}

/* line 49, ../sass/style.scss */
.btn {
  display: inline-block;
  text-align: center;
  font-size: 11px;
  line-height: 11px;
  font-family: cocogoose;
  cursor: pointer;
  padding: 8px 16px;
  background: #1957a4;
  border-radius: 2px;
  color: white;
  font-weight: normal;
  text-decoration: none;
}

/* line 64, ../sass/style.scss */
.btn.btn-white {
  color: black;
  background: white;
}

/* line 69, ../sass/style.scss */
.background-primary {
  background: #1957a4;
}

/* line 73, ../sass/style.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
